# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

#IDE
.vscode/
.idea/

# Chrome data
chrome-data/

# Data files
data/

# Screenshots
*.png